body {
    font-family: Arial, sans-serif;
   }
   
   #resume {
    width: 80%;
    margin: auto;
   }
   
   section {
    margin-bottom: 20px;
   }
   
   #contact {
    background-color: #f8f8f8;
    padding: 20px;
   }
   